apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    url: http://prometheus:${PROMETHEUS_INTERNAL_PORT:-9090}
    access: proxy
    isDefault: true
    uid: bdwoqtgo176yof
prune: true